<h1> Workout Tracker </h1>

{{results}}

<table>
	<tr>
		<td> Name </td>
		<td> Reps </td>
		<td> Weight </td>
		<td> Date </td>
		<td> 0-kgs, 1-lbs </td>
	</tr>
	{{#each row}}
	<tr>
		<td> {{name}} </td>
		<td> {{reps}} </td>
		<td> {{weight}} </td>
		<td> {{date}} </td>
		<td> {{lbs}} </td>
	</tr>
	{{/each}}
</table>

<form name = "resetTable" action = "/reset-table" method = "get">
	<fieldset>
		<legend> Reset Table </legend>
		<input type = "submit" id = "resetSubmit">
	</fieldset>
</form>

<form name = "selectTable" action = "/select" method = "get">
	<fieldset>
		<legend> Select Table </legend>
		<input type = "submit" id = "selectSubmit">
	</fieldset>
</form>

<form name = "updateTable" action = "/update" method = "get">
	<fieldset>
		<legend> Update Table </legend>
		<input type = "submit" id = "updateSubmit">
	</fieldset>
</form>

<form name = "insertTable" action = "/insert" method = "get">
	<fieldset>
		<legend> Insert Table </legend>
		
		Name of Exercise:<br>
		<input type = "text" name = "name" id = "name" required> <br>
		Number of Reps:<br>
		<input type = "number" name = "reps" id = "reps"> <br>
		Amount of Weight:<br>
		<input type = "number" name = "weight" id = "weight"> <br>
		Date of Exercise:<br>
		<input type = "date" name = "date" id = "date"> <br>
		0 for kgs, 1 for lbs:<br>
		<input type = "number" name = "lbs" id = "lbs" min = 0 max = 1> <br>
		
		<input type = "submit" id = "insertSubmit">
	</fieldset>
</form>