<h1> Workout Tracker </h1>

{{results}}

<form name = "insertTable" action = "/insert" method = "get">
	<fieldset>
		<legend> Add Exercise to Workout Table </legend>
		
		Name of Exercise:<br>
		<input type = "text" name = "name" id = "name" required> <br>
		Number of Reps:<br>
		<input type = "number" name = "reps" id = "reps"> <br>
		Amount of Weight:<br>
		<input type = "number" name = "weight" id = "weight"> <br>
		Date of Exercise:<br>
		<input type = "date" name = "date" id = "date"> <br>
		0 for kgs, 1 for lbs:<br>
		<input type = "number" name = "lbs" id = "lbs" min = 0 max = 1> <br>
		
		<input type = "submit" id = "insertSubmit">
	</fieldset>
</form>

<table id = "workoutTable">

	<tr id = "headerRow">
		<td> Name </td>
		<td> Reps </td>
		<td> Weight </td>
		<td> Date </td>
		<td> 0-kgs, 1-lbs </td>
	</tr>
	
	{{#each rows}}
	<tr id = "row{{id}}">
		<td id = "id{{id}}" style = "display:none"> {{id}} </td>
		<td id = "name{{id}}"> 	{{name}} </td>
		<td id = "reps{{id}}"> 	{{reps}} </td>
		<td id = "weight{{id}}"> 	{{weight}} </td>
		<td id = "date{{id}}"> 	{{date}} </td>
		<td id = "lbs{{id}}">		{{lbs}} </td>
		<td id = "updateButton{{id}}"> </td>
		<td id = "deleteButton{{id}}"> </td>
		
		<script>
			var newButton = document.createElement("button");
			newButton.textContent = "Update Row";
			newButton.addEventListener('click', function(event)
			{
				console.log("update {{id}}");
			});
			
			document.getElementById("updateButton{{id}}").appendChild(newButton);
			
			
			var newButton = document.createElement("button");
			newButton.textContent = "Delete Row";
			newButton.addEventListener('click', function(event)
			{
				var req = new XMLHttpRequest();
				var payload = {url:null};
				payload.url = "/delete?id={{id}}";
				
				req.open("GET", payload.url, false);
				req.addEventListener('load',function()
				{
					if(req.status >= 200 && req.status < 400)
					{
						window.location = "/submit";
					} 
					
					else 
					{
						console.log("Error in network request: " + request.statusText);
					}
				});
				
				req.send(null);		
			});
			
			document.getElementById("deleteButton{{id}}").appendChild(newButton);
		</script>
	</tr>
	{{/each}}
	
</table>

<form name = "resetTable" action = "/reset-table" method = "get">
	<fieldset>
		<legend> Reset Table </legend>
		<input type = "submit" id = "resetSubmit">
	<fieldset>
</form>

<form name = "submitTable" action = "/submit" method = "get">
	</fieldset>
		<legend> View Table </legend>
		<input type = "submit" id = "selectSubmit">
	</fieldset>
</form>