<h1> Workout Tracker </h1>

{{results}}

<form name = "resetTable" action = "/reset-table" method = "get">
	<fieldset>
		<legend> Reset Table </legend>
		<input type = "submit" id = "resetSubmit">
	</fieldset>
</form>

<form name = "insertTable" action = "/insert" method = "get">
	<fieldset>
		<legend> Add Exercise </legend>
		
		Name of Exercise:<br>
		<input type = "text" name = "name" id = "name" required> <br><br>
		Number of Reps:<br>
		<input type = "number" name = "reps" id = "reps"> <br><br>
		Amount of Weight:<br>
		<input type = "number" name = "weight" id = "weight"> <br><br>
		Date of Exercise:<br>
		<input type = "date" name = "date" id = "date"> <br><br>
		0 for kgs, 1 for lbs:<br>
		<input type = "number" name = "lbs" id = "lbs" min = 0 max = 1> <br><br>
		
		<input type = "submit" id = "insertSubmit">
	</fieldset>
</form>

<fieldset>
	<legend> Workout Table </legend>
	<table id = "workoutTable">

		<tr id = "headerRow">
			<td> Name </td>
			<td> Reps </td>
			<td> Weight </td>
			<td> Date </td>
			<td> 0-kgs, 1-lbs </td>
			<td> Delete Row </td>
			<td> Update Row </td>
		</tr>
			
		{{#each rows}}
			<tr id = "row{{id}}">
				<td id = "id{{id}}" style = "display:none"> {{id}} </td>
				<td id = "name{{id}}"> 	{{name}} </td>
				<td id = "reps{{id}}"> 	{{reps}} </td>
				<td id = "weight{{id}}">{{weight}} </td>
				<td id = "date{{id}}"> 	{{date}} </td>
				<td id = "lbs{{id}}">	{{lbs}} </td>
				<td id = "deleteButton{{id}}"> 
					<form name = "deleteTable{{id}}" action = "/delete" method = "get">
						<input type = "number" name = "id" id = "id" style = "display:none" value = "{{id}}">
						<input type = "submit" id = "deleteSubmit" value = "Delete Row">
					</form>
				</td>
				<td id = "updateButton{{id}}"> 
					<form name = "updateTable{{id}}" action = "/update" method = "get">
						<input type = "number" name = "id" id = "id" style = "display:none" value = "{{id}}">
						<input type = "text" name = "name" id = "name" required value = "{{name}}">
						<input type = "number" name = "reps" id = "reps" value = "{{reps}}">
						<input type = "number" name = "weight" id = "weight" value = "{{weight}}">
						<input type = "date" name = "date" id = "date" value = "{{date}}">
						<input type = "number" name = "lbs" id = "lbs" min = 0 max = 1 value = "{{lbs}}">
						<input type = "submit" id = "updateSubmit" value = "Update Row">
					</form>
				</td>
			</tr>
		{{/each}}
		
	</table>
</fieldset>